<div class="container">
  <div class="admin-home__title">
    <h1>Manage Users</h1>
      <a href="#" class="btn btn-secondary">
      <i class="icon icon-plus"></i>Create User</a>
  </div>
  <div class="breadcrumbs">
    <a href="admin-home.html">Home</a>
    <a href="#">Manage Users</a>
  </div>
  <div class="manage-user__table">
    <div class="manage-user__table__content">
      <table class="table">
        <thead>
          <tr>
            <th> <span>#</span><a href="#"><i class="icon icon-sort-arrows"></i></a></th>
            <th> <a href="#"><i class="icon icon-search"></i></a><input type="text" name="first-name" placeholder="first name"></th>
            <th> <a href="#"><i class="icon icon-search"></i></a><input type="text" name="last-name" placeholder="last name"></th>
            <th> <a href="#"><i class="icon icon-search"></i></a><input type="email" name="username" placeholder="username"></th>
            <th> <a href="#"><i class="icon icon-search"></i></a><input type="tel" name="phone" placeholder="phone"></th>
            <th class="table__drop-down drop-down--open"><span>Role</span><a href="#"><i class="icon icon-sort-arrows"></i></a>
              <ul>
                <li><a href="#" class="is-active">Super Admin</a></li>
                <li><a href="#">Manager</a></li>
                <li><a href="#">Accountant</a></li>
              </ul>
            </th>
            <th><span>status</span><a href="#"><i class="icon icon-sort-arrows"></i></a></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>01</p>
            </td>
            <td>
              <p>{{username}}</p>
            </td>
            <td>
              <p>Pilatholi</p>
            </td>
            <td> <a href="mailto:vpilatholi@gmail.com">
                <p>vpilatholi@gmail.com</p>
              </a></td>
            <td><a href="tel:8861389038">
                <p>8861389038</p>
              </a></td>
            <td>
              <p>Manager</p>
            </td>
            <td><input type="checkbox" id="status-1"><label for="status-1"></label></td>
            <td class="table__drop-down drop-down--open"><a href="#" class="table__more"><i class="icon icon-more"></i></a>
              <ul>
                <li><a href="#"> <i class="icon icon-edit"></i>Edit</a></li>
                <li><a href="#"><i class="icon icon-delete"></i>Delete</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <p>02</p>
            </td>
            <td>
              <p>{{username}}</p>
            </td>
            <td>
              <p>Pilatholi</p>
            </td>
            <td> <a href="mailto:vpilatholi@gmail.com">
                <p>vpilatholi@gmail.com</p>
              </a></td>
            <td><a href="tel:8861389038">
                <p>8861389038</p>
              </a></td>
            <td>
              <p>Super Admin</p>
            </td>
            <td><input type="checkbox" id="status-2"><label for="status-2"> </label></td>
            <td class="table__drop-down drop-down--open"><a href="#" class="table__more"><i class="icon icon-more"></i></a>
              <ul>
                <li><a href="#"> <i class="icon icon-edit"></i>Edit</a></li>
                <li><a href="#"> <i class="icon icon-delete"></i>Delete</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <p>03</p>
            </td>
            <td>
              <p>{{username}}</p>
            </td>
            <td>
              <p>Pilatholi</p>
            </td>
            <td> <a href="mailto:vpilatholi@gmail.com">
                <p>vpilatholi@gmail.com</p>
              </a></td>
            <td><a href="tel:8861389038">
                <p>8861389038</p>
              </a></td>
            <td>
              <p>Super Admin</p>
            </td>
            <td><input type="checkbox" id="status-3"><label for="status-3"> </label></td>
            <td class="table__drop-down drop-down--open"><a href="#" class="table__more"><i class="icon icon-more"></i></a>
              <ul>
                <li><a href="#"> <i class="icon icon-edit"></i>Edit</a></li>
                <li><a href="#"> <i class="icon icon-delete"></i>Delete</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <p>04</p>
            </td>
            <td>
              <p>{{username}}</p>
            </td>
            <td>
              <p>Pilatholi</p>
            </td>
            <td> <a href="mailto:vpilatholi@gmail.com">
                <p>vpilatholi@gmail.com</p>
              </a></td>
            <td><a href="tel:8861389038">
                <p>8861389038</p>
              </a></td>
            <td>
              <p>Super Admin</p>
            </td>
            <td><input type="checkbox" id="status-4"><label for="status-4"> </label></td>
            <td class="table__drop-down drop-down--open"><a href="#" class="table__more"><i class="icon icon-more"></i></a>
              <ul>
                <li><a href="#"> <i class="icon icon-edit"></i>Edit</a></li>
                <li><a href="#"> <i class="icon icon-delete"></i>Delete</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <p>05</p>
            </td>
            <td>
              <p>{{username}}</p>
            </td>
            <td>
              <p>Pilatholi</p>
            </td>
            <td> <a href="mailto:vpilatholi@gmail.com">
                <p>vpilatholi@gmail.com</p>
              </a></td>
            <td><a href="tel:8861389038">
                <p>8861389038</p>
              </a></td>
            <td>
              <p>Super Admin</p>
            </td>
            <td><input type="checkbox" id="status-5"><label for="status-5"> </label></td>
            <td class="table__drop-down drop-down--open"><a href="#" class="table__more"><i class="icon icon-more"></i></a>
              <ul>
                <li><a href="#"> <i class="icon icon-edit"></i>Edit</a></li>
                <li><a href="#"> <i class="icon icon-delete"></i>Delete</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <p>06</p>
            </td>
            <td>
              <p>{{username}}</p>
            </td>
            <td>
              <p>Pilatholi</p>
            </td>
            <td> <a href="mailto:vpilatholi@gmail.com">
                <p>vpilatholi@gmail.com</p>
              </a></td>
            <td><a href="tel:8861389038">
                <p>8861389038</p>
              </a></td>
            <td>
              <p>Super Admin</p>
            </td>
            <td><input type="checkbox" id="status-6"><label for="status-6"> </label></td>
            <td class="table__drop-down drop-down--open"><a href="#" class="table__more"><i class="icon icon-more"></i></a>
              <ul>
                <li><a href="#"> <i class="icon icon-edit"></i>Edit</a></li>
                <li><a href="#"> <i class="icon icon-delete"></i>Delete</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <p>07</p>
            </td>
            <td>
              <p>{{username}}</p>
            </td>
            <td>
              <p>Pilatholi</p>
            </td>
            <td> <a href="mailto:vpilatholi@gmail.com">
                <p>vpilatholi@gmail.com</p>
              </a></td>
            <td><a href="tel:8861389038">
                <p>8861389038</p>
              </a></td>
            <td>
              <p>Super Admin</p>
            </td>
            <td><input type="checkbox" id="status-7"><label for="status-7"> </label></td>
            <td class="table__drop-down drop-down--open"><a href="#" class="table__more"><i class="icon icon-more"></i></a>
              <ul>
                <li><a href="#"> <i class="icon icon-edit"></i>Edit</a></li>
                <li><a href="#"> <i class="icon icon-delete"></i>Delete</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<a href="#" class="manage__create--bg"></a>
<div class="manage__create manage-user__create">
  <div class="manage__create__header"><a href="#warning" rel="modal:open"><i class="icon icon-arrow-left"></i>Create User - <span>8/25</span></a></div>
  <form class="manage__create__content">
    <div class="manage__create__form manage__form">
      <div class="manage__form__title">
        <h3> <span>01</span>User Details</h3>
        <p>Mandatory Fields</p>
      </div>
      <div class="manage__form__input"><input type="text" id="first-name" name="first-name" required><label for="first-name">First Name</label></div>
      <div class="manage__form__input"><input type="text" id="last-name" name="last-name" required><label for="last-name">Last Name</label></div>
      <div class="manage__form__input"><input type="email" id="email" name="email" required><label for="email">Email</label></div>
      <div class="manage__form__input"><input type="tel" id="phone" name="phone" required><label for="phone">Phone</label></div>
      <div class="manage__form__radio">
        <h3>Select Role</h3><input type="radio" name="role" id="role-1" checked><label for="role-1">Analyst</label><input type="radio" name="role" id="role-2"><label for="role-2">Admin</label><input type="radio" name="role" id="role-3"><label for="role-3">Executive</label>
      </div>
    </div>
    <div class="manage__create__form manage__form manage-user__create__form">
      <div class="manage__form__title">
        <h3><span>02</span>Select User Privileges</h3>
      </div>
      <table class="manage__form__table">
        <thead>
          <tr>
            <th>
              <p>features</p>
            </th>
            <th><input type="checkbox" id="select-privileges-view"><label for="select-privileges-view"></label></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>File Upload</p>
            </td>
            <td><input type="checkbox" id="select-privileges-1" checked class="select-privileges-view"><label for="select-privileges-1"></label></td>
          </tr>
          <tr>
            <td>
              <p>File Approval</p>
            </td>
            <td><input type="checkbox" id="select-privileges-2" class="select-privileges-view"><label for="select-privileges-2"></label></td>
          </tr>
          <tr>
            <td>
              <p>DB Approval</p>
            </td>
            <td><input type="checkbox" id="select-privileges-3" class="select-privileges-view"><label for="select-privileges-3"></label></td>
          </tr>
          <tr>
            <td>
              <p>Publish</p>
            </td>
            <td><input type="checkbox" id="select-privileges-4" class="select-privileges-view"><label for="select-privileges-4"></label></td>
          </tr>
          <tr>
            <td>
              <p>Manual Override</p>
            </td>
            <td><input type="checkbox" id="select-privileges-5" class="select-privileges-view"><label for="select-privileges-5"></label></td>
          </tr>
          <tr>
            <td>
              <p>Add New File Types</p>
            </td>
            <td><input type="checkbox" id="select-privileges-6" class="select-privileges-view"><label for="select-privileges-6"></label></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="manage__form__footer"><a href="#" class="btn btn-primary manage__create__close">cancel</a><button type="submit" class="btn btn-secondary"><span>create</span></button></div>
  </form>
</div>
    
