<div class="admin-home__header">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <div class="admin-home__header__powered"><strong>CPG</strong>
          <p>Powered by TEG</p>
        </div>
      </div>
      <div class="col-sm-8 col-xs-12">
        <div class="admin-home__header__info">
          <div class="admin-home__header__time">
            <p>Thursday, 28 March 2019 10:47 am (IST)</p>
          </div>
          <div class="admin-home__header__notifications"><a href="#" class="dropdown-open"><i class="icon icon-bell"></i><span></span></a><b>23</b>
            <div class="admin-home__header__notifications__drop-down drop-down__header">
              <div class="drop-down__header__content"><a href="#" class="drop-down__header__line update"><i class="icon icon-upadte"></i>
                  <div class="drop-down__header__title">
                    <h4>Product Update</h4>
                    <h3>New Feature - Reporting Tab</h3>
                    <p>Good news! We have now launched a new Reports tab</p>
                  </div><strong>few sec ago</strong>
                  <div class="drop-down__header__indicator"></div>
                </a><a href="#" class="drop-down__header__line error"><i class="icon icon-error"></i>
                  <div class="drop-down__header__title">
                    <h3>File 2 - DB Connection Error<b>Take Action</b></h3>
                  </div><strong>2 mins ago</strong>
                  <div class="drop-down__header__indicator"></div>
                </a><a href="#" class="drop-down__header__line warning"><i class="icon icon-error"></i>
                  <div class="drop-down__header__title">
                    <h3>File 3 - Warning</h3>
                  </div><strong>yesterday</strong>
                  <div class="drop-down__header__indicator"></div>
                </a><a href="#" class="drop-down__header__line approved"><i class="icon icon-checked-1"></i>
                  <div class="drop-down__header__title">
                    <h3>File 2 - Approved</h3>
                  </div><strong>yesterday</strong>
                  <div class="drop-down__header__indicator"></div>
                  </a><a href="#" class="drop-down__header__more">Read all notifications</a></div>
              </div>
            </div>
            <div class="admin-home__header__user"><a href="#" class="dropdown-open">{{username}}<i class="icon icon-arrow-down"></i></a>
              <div class="admin-home__header__user__drop-down">
                <div class="admin-home__header__user__drop-down__content"><a href="#"><i class="icon icon-settings"></i>Settings</a><a href="#"><i class="icon icon-feedback"></i>Feedback</a><a href="#" class="log-out">Logout<i class="icon icon-logout"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>