<aside class="aside">
  <div class="aside__content">
    <a routerLink="../login" class="aside__logo"><img src="assets/img/logo.png" alt=""></a>
    <ul class="aside__menu">
      <li><a href="#" class="aside__menu__item aside__menu__item--drop-down"><img src="assets/img/home.png" alt="">Home</a>
        <ul>
          <li><a href="#">Home </a></li>
        </ul>
      </li>
      <li><a href="#" class="aside__menu__item"><img src="assets/img/dashboard.png" alt="">Dashboard</a></li>
      <li><a href="#" class="aside__menu__item aside__menu__item--drop-down"><img src="assets/img/cube.png" alt="">Users</a>
        <ul>
          <li><a href="#">Executive </a></li>
          <li><a href="#">Manager </a></li>
          <li><a href="#">Analysts </a></li>
        </ul>
      </li>
      <li><a href="#" class="aside__menu__item"><img src="assets/img/support.png" alt="">Support</a></li>
    </ul>
  </div>
</aside>
